body {
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}

.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.main-nav ul li {
  float: left;
}

.main-nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.main-nav ul li a:hover {
  background-color: #111111;
}
.main-nav ul li img {
  float: right;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.div  {
    position: absolute;
    right: 0;
    color: #ffcc00;
}

.div2
{
    position: absolute;
    left: 0;
    color:#FCFEDA;
}

.div3
{
  text-align: center;
  line-height: 4em;
  color: #17569b;
}
body{
background-color:powderblue;
}
.center{
text-align: center;

}
.divgames{
 width: 150px;
   height: 150px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  background-color: lightgrey;
}
.div4{

 width: 150px;
   height: 165px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  background-color: lightgrey;

    
}
.div5{

 width: 150px;
   height: 165px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  background-color: lightgrey;

    
}
.pgames{
 width: 150px;
   height: 150px;
}
form {
  border-radius: 5px;
  background-color: blue;
  padding: 20px;
  color: white;
}

label {display: block;}

input[type=text], select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: yellow;
  color: red;
}